.app-container {
  text-align: center;
  width: 100%;
  padding: 2rem;
  background-color: #cec8d4; 
}
.heading{
  color:rgb(14, 13, 13);
  font-size: 30px;
  position: relative;
  font-family: roboto;
}

